@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

/* NABAR */
.search-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

.con-logo {
  display: flex;
}

.con-logo h3 {
  margin: auto;
  font-size: 20px;
}

.con-logo h3 b span {
  font-size: 30px;
}

.logo {
  width: 4rem;
  height: auto;
  margin-right: 10px;
}

.search-input {
  border: 1px solid rgba(171, 171, 171, 1);
  padding: 10px;
  width: 58rem;
  border-radius: 40px;
  margin: 0 1rem;
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 2px rgba(171, 171, 171, 1);
}

.search-container {
  background-color: #ffffff;
}

/* item */
.item-con {
  display: flex;
}
.left {
  margin: 0 2rem;
}

.left h5 {
  color: rgba(0, 0, 0, 0.83);
  padding: 5px 0;
}

.left h5 svg {
  color: black;
}

.garis-left {
  border: 1px solid rgba(145, 145, 145, 0.478);
  margin: 10px 0;
}

.item-left p a {
  text-decoration: none;
  color: rgba(145, 145, 145, 1);
  padding: 5px 0;
  margin: 0;
}

.item-left p a:hover {
  color: rgb(69, 69, 69);
}

.right {
  margin: 0 1rem;
  max-width: 61rem;
}

.card-con {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: none;
}
.card-body {
  width: 15rem;
  max-width: 15rem;
}

.card-body .color1 {
  position: relative;
  transition: 0.3s ease;
}

.card-body .color1 .bg1,
.card-body .color1 .bg2,
.card-body .color1 .bg3,
.card-body .color1 .bg4 {
  width: 100%;
}

.card-body .color1 .bg1 {
  height: 74px;
  border-radius: 10px 10px 0px 0px;
}

.card-body .color1 .bg2 {
  height: 55px;
}

.card-body .color1 .bg3 {
  height: 48px;
}

.card-body .color1 .bg4 {
  border-radius: 0px 0px 10px 10px;
  height: 38px;
}

.color1 .text-bg {
  position: absolute;
  background-color: rgba(145, 145, 145, 0.218);
  border-radius: 0px 6px 0px 0px;
  font-size: 14px;
  opacity: 0;
  transition: 0.3s;
}

.color1:hover .text-bg {
  opacity: 1;
}

.text1 {
  top: 3.5rem;
}

.text2 {
  top: 2.2rem;
}

.text3 {
  top: 1.8rem;
}

.text4 {
  top: 1rem;
}

@media screen and (max-width: 1212px) {
  .left h5 {
    font-size: 17px;
    display: flex;
  }
}

@media screen and (max-width: 769px) {
  .con-logo h3 {
    display: none;
  }

  .logo {
    width: 2rem;
  }

  .search-input {
    margin: 0;
  }

  .left {
    display: none;
  }

  .card-body {
    width: 13rem;
  }
}

@media screen and (max-width: 513px) {
  .card-body {
    width: 8rem;
    max-width: 15rem;
    padding: 10px 5px;
  }

  .card-body .color1 .bg1 {
    height: 50px;
  }

  .card-body .color1 .bg2 {
    height: 40px;
  }

  .card-body .color1 .bg3 {
    height: 35px;
  }

  .card-body .color1 .bg4 {
    height: 25px;
  }

  .color1 .text-bg {
    font-size: 11px;
  }

  .text1 {
    top: 35px;
  }

  .text2 {
    top: 24px;
  }

  .text3 {
    top: 20px;
  }

  .text4 {
    top: 8px;
  }
}
